<div id="canvas"></div>
<svg id="scatterplot"></svg>


<div class="stat-modal">
  <div class="close-modal">X</div>
  <table class="modal-table table">
    <tr> <td><strong>Player Name</strong></td><td class='data'></td> </tr>
    <tr> <td><strong>Goals</strong></td><td class='data'></td> </tr>
  </table>
</div>

<div class="background-gray"></div>