<div id="canvas"></div>
<svg id="scatterplot"></svg>


<div class="stat-modal">
  <div class="close-modal">X</div>
  <table class="modal-table table">
    <tr> 
      <th><strong>Player Name</strong></th>
      <th><strong>Goals</strong></th>
    </tr>
    <tr>
      <td class='data'></td>
      <td class='data'></td> 
    </tr>
  </table>
</div>

<div class="background-gray"></div>