// General

a {
  color: #EF0107
}

a:hover {
  color: #9C824A
}

li {
  text-decoration: none;
}


// Index 

.crest {
  width: 6rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}



// bootstrap overrides

.form-control {
  border: 1px solid #ccc;
}

.btn-default {
  background-color: #023474;
  color: white;
}

.btn-info {
  background-color: #EF0107;
}

.btn-info-outline {
  color:  #EF0107;
}

.btn-info:hover, .btn-info-outline:hover {
  color:  white;
  background-color: #EF0107;
}


// SVGs

#scatterplot {
  height: 350px;
  width: 600px;
  border: 1px solid #ddd;
  margin-top: 20px;
  padding: 5px;
}

.aaron, .ramsey, .francis, .coquelin,
.santi, .cazorla {
  fill: #DF4949;
}

.olivier, .giroud {
  fill: #E27A3F;
}

.petr, .cech, .ospina {
  fill: #EFC94C;
}

.mesut {
  fill: #3498db;
}

.alexis, .theo, .walcott {
  fill: #F495A3;
}

.laurent, .koscielny {
  fill: #45B29D
}

.bellerín, héctor, .nacho, .monreal, .kieran, .gibbs {
  fill: #9C824A;
}

