// General

a {
  color: #EF0107
}

a:hover {
  color: #9C824A
}

li {
  text-decoration: none;
}


// Index 

.crest {
  width: 6rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}



// bootstrap overrides

.form-control {
  border: 1px solid #ccc;
}

.btn-default {
  background-color: #023474;
  color: white;
}

.btn-info {
  background-color: #EF0107;
}

.btn-info-outline {
  color:  #EF0107;
}

.btn-info:hover, .btn-info-outline:hover {
  color:  white;
  background-color: #EF0107;
}


// SVGs

#scatterplot {
  height: 500px;
  width: 840px;
  border: 1px solid #ddd;
  margin-top: 20px;
  padding: 60px 10px 30px 70px;
}

.aaron, .ramsey, .francis, .coquelin,
.santi, .cazorla {
  fill: #DF4949;
}

.olivier, .giroud {
  fill: #E27A3F;
}

.petr, .cech, .ospina {
  fill: #EFC94C;
}

.mesut {
  fill: #3498db;
}

.alexis, .theo, .walcott {
  fill: #F495A3;
}

.laurent, .koscielny {
  fill: #45B29D
}

.bellerín, héctor, .nacho, .monreal, .kieran, .gibbs {
  fill: #9C824A;
}


// Modals

.stat-modal {
  position: fixed;
  left: 30%;
  top: 20%;
  height: 400px;
  width: 400px;
  z-index: 10;
  background: white;
  border: 1px solid black;
  border-radius: 1rem;
  display: none;
}

.background-gray {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: rgba(0,0,0,0.7);
  display: none;
}

.close-modal {
  float: right;
  border: 1px solid #ddd;
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.modal-table {
  margin-top: 5rem;
}

